/* All */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(235, 235, 235);
}

body {
	background-color: rgb(115, 114, 114);
	min-height: 100vh;
	overflow: hidden;
}

a {
	text-decoration: none;
}
/* /All */

/* Cursor */
#cursor, #aura {
	position: absolute;
	border-radius: 50%;
	user-select: none;
	pointer-events: none;
	z-index: 1000;
	transition: transform .5s cubic-bezier(.75,-1.27,.3,2.33), opacity .5s cubic-bezier(.75,-1.27,.3,2.33);
}

#cursor {
	width: 8px;
	height: 8px;
	background-color: rgba(255,255,255,.5);
}

#cursor.active {
	opacity: 0;
}

#aura {
	width: 46px;
	height: 46px;
	border: 1px solid rgba(255,255,255,.15);
	background-color: rgba(255,255,255,.05);
	transform: translate(5px, 5px);
}

#aura.active {
	border: 1.5px solid rgba(255,255,255,.30);
	transform: scale(1.3);
}

#cursor.hidden, #aura.hidden {
	transform: scale(.0001);
}

/* /Cursor */

/* Content */

/* Header */
.header {
	background-color: rgb(69, 69, 69);
	display: flex;
	justify-content: space-around;
	border-bottom: 3px solid rgb(177, 52, 165);
}

.header__logo {
	width: 50px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.contact {
	position: relative;
	margin-right: 2px;
}

.contact::after {
	content: '';
	position: absolute;
	right: -2px;
	top: 10px;
	width: 2px;
	height: 30px;
	background-color: rgb(177, 52, 165);
	z-index: 100;
}

.contact:last-child::after {
	content: '';
	width: 0;
	height: 0;
}

.contact__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px 10px 10px;
}

.contact__text {
	margin-right: 10px;
}

.contact__link:hover {
	transition: background-color .2s ease-in;
	background-color: rgb(105, 105, 105);
}

.contact__img {
	color: black;
	width: 20px;
}
/* /Header */

/* /Content */