/* All */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(235, 235, 235);
}

body {
	overflow-x: hidden;
	background: 
		repeating-linear-gradient(
			45deg, transparent,
			transparent 1px, 
			rgba(0, 0, 0, .8) 10px, 
			rgba(255,255,255, 1) 10px
			),
		radial-gradient(
			ellipse at center, 
			rgb(44, 6, 44) 0%, 
			rgba(0,0,0,1) 100%
		);
		background-attachment: fixed;
	min-height: 100vh;
}

a {
	text-decoration: none;
}
/* /All */

/* Cursor */
#cursor, #aura {
	position: absolute;
	border-radius: 50%;
	user-select: none;
	pointer-events: none;
	z-index: 1000;
	transition: transform .5s cubic-bezier(.75,-1.27,.3,2.33), 
					opacity .5s cubic-bezier(.75,-1.27,.3,2.33),
					border .3s ease-in;
}

#cursor {
	width: 8px;
	height: 8px;
	background-color: rgb(177, 52, 165);;
}

#cursor.active {
	opacity: 0;
}

#aura {
	width: 46px;
	height: 46px;
	border: 1px solid rgba(144, 98, 139, .6);;
	background-color: rgba(0, 0, 0,.1);
	transform: translate(5px, 5px);
}

#aura.active {
	border: 1.5px solid rgba(255, 5, 230, .6);;
	transform: scale(1.3);
}

#cursor.hidden, #aura.hidden {
	transform: scale(.0001);
}

/* /Cursor */

/* Content */

/* Header */
.header {
	background-color: rgb(69, 69, 69);
	display: flex;
	justify-content: space-around;
	border-bottom: 3px solid rgb(177, 52, 165);
	overflow: hidden;
	box-shadow:  inset 2px 1px 10px 5px rgba(0, 0, 0,.3);
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	transform: rotate(0deg);
	transition: transform .5s ease-in;
}

.header__logo:hover {
	transform: rotate(90deg);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.contact {
	position: relative;
	margin-right: 2px;
}

.contact::after {
	content: '';
	position: absolute;
	right: -2px;
	top: 10px;
	width: 2px;
	height: 30px;
	background-color: rgb(177, 52, 165);
	z-index: 100;
}

.contact:last-child::after {
	content: '';
	width: 0;
	height: 0;
}

.contact__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px 10px 10px;
}

.contact__text {
	margin-right: 10px;
}

.contact__link:hover {
	transition: background-color .2s ease-in;
	background-color: rgb(105, 105, 105);
}

.contact__img {
	color: black;
	width: 20px;
}
/* /Header */

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* Portfolio */
.portfolio {
	margin-top: 50px;
}

.portfolio__title {
	text-align: center;
}

.portfolio__sites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.site {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	width: 300px;
	background-color: rgb(241, 241, 241);
	padding: 5px;
	border-radius: 10px;	
	border: 2px solid rgb(92, 73, 235)
}

.site__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #000;
	margin-bottom: 5px;
}

.site__title {
	color: #000;
}

.site__img {
	width: 100%;
	pointer-events: none;
	border-radius: 5px;
}

.site__description {
	display: block;
	border-top: 3px solid #000;
	margin-top: 3px;
	padding-top: 5px;
	color: #000;
}

.site__links {
	
}

.site__web {
	width: 24px;
	filter: grayscale(100%);
	transition: filter .5s ease-in;
}

.site__git {
	width: 24px;
	filter: grayscale(100%);
	transition: filter .5s ease-in;
}

.site__web:hover,
.site__git:hover {
	filter: grayscale(0%);
}
/* /Portfolio */


/* Footer */

.footer {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	border-top: 3px solid rgb(177, 52, 165);
	background-color: rgb(42, 42, 42);
	box-shadow:  inset 2px 1px 10px 5px rgba(0, 0, 0,.3);
}

.footer__text {
	display: block;
	padding: 10px;
}

/* /Footer */ 
/* /Content */